<label>Server Name</label>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateServerNamae($event)"-->
<!--&gt;-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  >
<!--<p> {{ serverName}}</p>-->
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>

<!--<p [innerText] ="allowNewServer"></p>-->
<p *ngIf="serverCreated; else  noServer">
  {{ serverCreationStatus}}
</p>
<ng-template #noServer>
  <p>
    No server was created!
  </p>
</ng-template>
<app-server></app-server>
<app-server
  *ngFor="let server of servers">

</app-server>
